.dataauth-box {
    .headerow {
        display: inline-block;
    }
    .datauth-flexbox {
        .left {
            display: inline-block;
            vertical-align: middle;
            margin-right: 470px;
        }
        .right {
            display: inline-block;
            vertical-align: middle;
            margin-top: 20px;
            width: 100px;
            height: 100px;
            .caseinfo {
                display: block;
            }
        }

    }
}